* {
    margin: 0;
    padding: 0;
}
table {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #ddd;
    border-collapse:collapse ;
    border-spacing: 0;
    text-align: center;
}
th, td {
    padding: 12px ;
    border-bottom: 1px solid #ddd;
}
caption {
    background-color: rgb(9, 37, 161);
    border-radius: 12px 12px 0px 0px;
    overflow: hidden;
    color: #fff;
    padding: 10px;
}
th {
    background-color: rgb(109, 198, 228);
    text-transform: uppercase;
    color: #fff;
}